
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EjemploViewData</title>
</head>
<body>
    <h3>
        El valor de Message es @ViewData["Message"]
    </h3>
</body>
</html>
