@model Controladoress.Models.ModeloEjemplo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="~/css/estilos_controladores.css" rel="stylesheet" />
</head>
<body>
	@Model.Sentence
</body>
</html>
