@{
	Layout = null;
}

<!doctype html>
<html>
	<head>
		<meta name="viweport" content="width=device-width"/>
		<title>Index</title>
		<link href="~/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<h2>Educación IT</h2>
		<nav>
			<span>
				Imagenes
			</span>
			<span>
				@Html.ActionLink("Empleados","Index","Empleado")
			</span>
			<span>
				Contáctenos
			</span>
		</nav>
		<footer>
			Página principal de Educación IT
		</footer>
	</body>
</html>
